.box1{
    background-color:green;
    height:180px;
    border: 2px solid rgb(123, 5, 5);
}

.box2{
    background-color:rgb(135, 135, 229);
    height:200px;
    width:450px;
    border: 2px solid green;
}

.box3{
    background-color:rgb(229, 229, 236);
    height:200px;
    width:450px;
    border: 2px solid green;
    transform: translate(100%,-100%);
}

.box4{
    background-color:rgb(230, 225, 80);
    height:200px;
    width:450px;
    border: 2px solid green;
    transform: translate(200%,-200%);
}