.box1{
    background-color: green;
    height: 170px;
}

.box2{
    background-color: aqua;
    height: 200px;
    border: 2px solid red;
    width: 430px;
}

.box3{
    background-color: rgb(195, 231, 51);
    height: 200px;
    border: 2px solid red;
    width: 430px;
    transform: translate(100%,-100%);
}

.box4{
    background-color: rgb(51, 153, 231);
    height: 200px;
    border: 2px solid red;
    width: 430px;
    transform: translate(200%,-200%);
}